// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "../node_modules/bootstrap/scss/functions";

// 2. Include any default variable overrides here
$link-decoration: none;
$theme-colors:(
  "primary": #133E7A,
  "success": #21A592,
  "dark": #0D0C0C,
  "light": #FFFFFF,
);

// 3. Include remainder of required Bootstrap stylesheets
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/variables-dark";

// 4. Include any default map overrides here
$custom-colors: (
	"farve": $cyan-400,
);

$theme-colors: map-merge($theme-colors, $custom-colors);

@import "bootstrapComponents";

// 5. Du kan lave styling her...


.roboto{
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  font-variation-settings:
          "wdth" 100;
           }


 .search-container {
   max-width: 400px;
   border: 1px solid #333;
   border-radius: 50px;
   overflow: hidden;
 }

.search-container .form-control:focus {
  box-shadow: none;
  border-color: #dee2e6;
}

.rounded-pill-start { border-radius: 50px 0 0 50px; }
.rounded-pill-end { border-radius: 0 50px 50px 0; }

.fa-circle-plus {
  width: 45p;
  height: 45px;
  border-width: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
}
